@mixin textOverFlow {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.post {
  position: relative;
  display: flex;
  width: 100%;
  color: #333333;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 12px 20px;
  transition: all ease-in-out .3s;
  &:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .3) ;
    transform: translateY(-2px);
  }
  border-bottom: 1px solid #e5e6eb;
  align-items: center;
}

.banner {
  flex: 0 0 auto;
  // display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  img {
    max-width: 120px;
  }
  margin-right: 12px;
}

.divider {
  width: 1;
  height: 14px;
  border-right: 1px solid #e5e6eb;
  margin: 0 8px;
}

.infos {
  flex: 1 1 auto;
  overflow: hidden;
  .header {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    display: -webkit-box;
    &:link {
      color: #333333;
    }
    &:visited {
      color: #86909c;
    }
  }

  .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
    margin-top: 10px;
    max-width: 100%;
    @include textOverFlow();
  }

  .subTitle {
    display: block;
    font-size: 13px;
    color: #86909c;
    margin-top: 10px;
    @include textOverFlow();
    color: #86909c !important;
  }

  .footer {
    color: #86909c;
    margin-top: 6px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 16px;
    .item {
      margin-right: 20px;
      display: flex;
      align-items: center;
      svg {
        margin-right: 3px;
        fill: #86909c;
      }
      &:hover {
        cursor: pointer;
        color: #333333;
        svg {
          fill: #333333;
        }
      }
    }
  }
}