.wrapper {
  background-color: #ffffff;
}

.info {
  padding: 0 24px;
  height: 5rem;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    color: #1d2129;
    outline: none;
    border: none;
    height: 100%;
    font-size: 24px;
    font-weight: 500;
    flex: 1;
    margin-right: 16px;
    &::placeholder {
      color: #86909c;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  button.btn {
    margin-left: 16px;
  }
}