.wrapper {
  display: flex;
  padding: 0 24px;
  align-items: flex-start;
}

.user {
  position: relative;
  flex: 1;
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  .info {
    button {
      margin: 8px 0;
    }
  }
}

.avatar {
  position: relative;
  .abtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #333333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tabs {
  flex: 3;
  flex-shrink: 0;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  .tab_container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e7ec;
  }
  .pagi {
    text-align: center;
    margin: 8px 0;
  }
  margin-left: 24px;
}

.tool {
  position: absolute;
  right: 20px;
  top: 20px;
  a {
    color: #333333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn {
    svg {
      fill: #666666;
      width: 14px;
      height: 14px;
    }
  }
  .menu {
    display: none;
    position: absolute;
    right: 60px;
  }
  &:hover {
    cursor: pointer;
    .menu {
      display: block;
    }
  }
}

.profile {
  padding: 0 16px;
  .container {
    
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
  }
  .user {
    display: block;
    .info {
      text-align: center;
      .avatar {
        display: inline;
      }
    }
  }
  .tabs {
    margin: 0;
  }
}