* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

#__next {
  background-color: #f4f5f5;
}

.wrapper {
  padding: 16px 32px;
  margin: 0 auto;
  max-width: 1024px;
  /* background-color: #ffffff; */
}

.error {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #c6c6c6;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 16px 16px;
  }  
}