.show {
  height: 500px;
  display: flex;
  align-items: center;
  .slogan {
    span {
      color: #333333;
      font-size: 100px;
      font-weight: 700;
      display: block;
    }
  }
}

.page_tab {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid hsla(0,0%,59.2%,.1);
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .show {
    height: 400px;
    .slogan {
      span {
        font-size: 80px !important;
        font-weight: 700;
      }
    }
  }
}