form.form {
  .form_item {
    margin: 24px 0;
  }
  h2.form_title {
    text-align: center;
  }
  
  span.form_footer {
    display: block;
    text-align: center;
  }
  
  a {
    font-weight: 600;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
